[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_30FFD6054255353840701057-if00

[include pins/e3-mini-v2.cfg]
[include ender5*.cfg]
[include kiauh_macros.cfg]
[include macros/*.cfg]



[pause_resume]
[display_status]
[gcode_arcs]
[virtual_sdcard]
path: ~/printer_data/gcodes
#[homing_heaters]
[idle_timeout]
gcode:
  M84
#   A list of G-Code commands to execute on an idle timeout. See
#   docs/Command_Templates.md for G-Code format. The default is to run
#   "TURN_OFF_HEATERS" and "M84".
#timeout: 600
#   Idle time (in seconds) to wait before running the above G-Code
#   commands. The default is 600 seconds.

[verify_heater heater_bed]
max_error: 250
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
#check_gain_time:
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
#hysteresis: 5
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
heating_gain: 0.5
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.133
#*# pid_ki = 1.317
#*# pid_kd = 907.373
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.729
#*# pid_ki = 1.491
#*# pid_kd = 128.941
#*#
#*# [bed_mesh NH1]
#*# version = 1
#*# points =
#*# 	-0.065000, -0.085000, -0.032500, -0.067500, -0.058750
#*# 	-0.056250, -0.050000, -0.000000, -0.037500, -0.032500
#*# 	-0.065000, -0.046250, -0.000000, -0.035000, -0.041250
#*# 	-0.072500, -0.076250, -0.030000, -0.058750, -0.053750
#*# 	-0.083750, -0.107500, -0.067500, -0.106250, -0.082500
#*# tension = 0.2
#*# min_x = 25.5
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 30.3
#*# x_count = 5
#*# max_y = 219.97
#*# mesh_x_pps = 2
#*# max_x = 190.5
#*#
#*# [bed_mesh NH2]
#*# version = 1
#*# points =
#*# 	-0.072500, -0.083750, -0.043750, -0.073750, -0.067500
#*# 	-0.058750, -0.047500, -0.002500, -0.031250, -0.030000
#*# 	-0.068750, -0.050000, 0.001250, -0.032500, -0.042500
#*# 	-0.071250, -0.072500, -0.022500, -0.048750, -0.057500
#*# 	-0.077500, -0.093750, -0.062500, -0.092500, -0.068750
#*# tension = 0.2
#*# min_x = 25.5
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 30.3
#*# x_count = 5
#*# max_y = 219.97
#*# mesh_x_pps = 2
#*# max_x = 190.5
#*#
#*# [bltouch]
#*# z_offset = 2.295
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.116250, -0.096250, -0.052500, -0.091250, -0.101250
#*# 	  -0.085000, -0.048750, -0.008750, -0.040000, -0.062500
#*# 	  -0.095000, -0.060000, -0.012500, -0.052500, -0.071250
#*# 	  -0.112500, -0.081250, -0.033750, -0.070000, -0.100000
#*# 	  -0.133750, -0.125000, -0.092500, -0.123750, -0.127500
#*# tension = 0.2
#*# min_x = 15.5
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 25.3
#*# x_count = 5
#*# max_y = 199.97
#*# mesh_x_pps = 2
#*# max_x = 187.97
